accessKeyId: '1234324432_s3-service-user'
secretAccessKey: 's3-service-user--aws-passw0rd--25-fdsdfdfs343421fs_greengreen'
googleSheetsWebhookUrl: 'https://script.google.com/macros/s/AKfycbwvfsdflinklinklinkJ1Q8SgJLzYX_0xTKqlMWRog/exec'
loginCredentials: '[{"login": "playServerlessTest1", "password": "test-password"}, {"login": "playServerlessTest2", "password": "test-password"}, {"login": "test-login", "password": "test-password"}, {"login": "test-login-2", "password": "test-password-2"}, {"login": "randomLoginServerlessTest3", "password": "test-password"}, {"login": "Tost_kafe--(not-a-folder-name)", "password": "test-password"}]'
